

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    background-color: transparent;
}
.xds-profile-card
{
    margin: auto;
    max-width: 70%;
    vertical-align: middle;
    margin-top: 50px;
}

.xds-tab-goupe 
{
    margin-top: 50px;
}

.xds-tab-goupe .nav-item
{
    cursor: pointer;;
}

.user-tab-contents{
    min-height: 100px;
    background-color: #fff;
}

.tab-content {
    background-color: #fff;
    color: #3a6cf4 ;
}

.xds-active
{

    background-color: #fff;
    color: #3a6cf4 ;
    
}


.user-tabs {
    background-color: #3a6cf4 ;
    color: #fff;
}

.main-btn {
    text-decoration: none;
    color: #fff;
    background-color: #3a6cf4;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.7s ease;
}

.main-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}