 nav{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

nav i {
  cursor: pointer;

}

.xds-nave-bar{
  background-color: grey;
  margin-top: -20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}     

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 10px;
  margin-right: 25px;
  text-align: center;
  color: var(--main-color);
  border:1px solid var(--main-color);
  transition: 0.7s ease;

}

.btn-circle.btn-md:hover{
  transform: scale(2);
  background-color: var(--main-color);
  color: #f0f0f0;;
  border:1px solid #f0f0f0;;
}


.dropdown a{
  position: relative;
  display:block;
  text-decoration: none;
}

.dropdown-content a:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid black;
  transform: scale(1.1);

}
.dropdown-content {
  position:absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: var(--main-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.7s ease;

}

header {
  color: var(--main-color);
  height: 90px;
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 50px 50px ;
}

.logo img{
  width: 160px;
  height: 80px;
  margin: -50px 50px 0px 25px;
  transition: 0.7s ease;
}

.logo img:hover{
 transform: scale(1.2);
}

.header-item{
  
  text-decoration: none;
  font-size: 30px;
  font-weight: 10px;
  padding: 20px;
  justify-content:center;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.navigation i div{
  margin-top: 10px;
  font-size: .5em;
}

.navigation i:hover{
  background-color: var(--main-color);
  opacity: 0.7;
  color: #f0f0f0;
  transform: rotate(1turn);
}

.active{
  background-color: var(--main-color);
  color: #f0f0f0;
}


.dropdown i span{
 position:absolute;
 top:10px;
 font-size: 0.85rem;
}
