  
<div>
  <nav class="navbar navbar-expand-lg navbar-light xds-nave-bar ">
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item" *ngFor="let item of headerItems">
          <a class="nav-link" [href]="item.RouterLink">{{item.Name}}</a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        
        <div>
          <button type="button" (click)="OpenUserMenu()" class="btn btn-circle btn-md dropdown" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user fa-2x"></i>
          </button>
          <div id="userMenuContents" class="dropdown-content" style="display: none;">
            <div class="dropdown">
                <a *ngFor="let item of headerUMItems"  [class]="item.Button" [href]="item.RouterLink"  >
                  <i  >
                    {{item.Name}}
                  </i>
                </a> 
                <a class="fa fa-cog" href="#">
                  <i  >
                    Setting
                  </i>
                </a>
            </div>        
          </div>
        </div>
      </form>
    </div>
  </nav>
</div>

