
<div class="content-area" id="content-area">
    <aside>
        <h4>
            Auto Encoder
        </h4>
        <div class="software-thumbnail">
            <img src="../../../../assets/Images/ae.png">
        </div>
        <hr>
        <nav>
            <a class="nav-link active">
                <div>
                    <i class="fas fa-download"></i>
                    <span > Data generator</span>
                </div>
                <label class="switch">
                    <input id="data-generator" type="checkbox" checked (click)="ShowHideSection($event)">
                    <span class="slider round"></span>
                </label>
            </a>
            <hr>
            <a class="nav-link">
                <div>
                    <i class="fa fa-area-chart"></i>
                    <span> Charts</span>
                </div>
                <label class="switch">
                    <input id="charts" type="checkbox" checked (click)="ShowHideSection($event)">
                    <span class="slider round"></span>
                </label>
            </a>
            <hr>
            <a class="nav-link">
                <div>
                    <i class="fas fa-scroll"></i>
                    <span> Statistics</span>
                </div>
                <label class="switch">
                    <input id="statistics" type="checkbox" checked (click)="ShowHideSection($event)">
                    <span class="slider round"></span>
                </label>
            </a>
            <hr>
            <a class="nav-link">
                <div>
                    <i class="fas fa-database"></i>
                    <span> Saved Datasets</span>
                </div>
                <label class="switch">
                    <input id="saved-datasets" type="checkbox" checked (click)="ShowHideSection($event)">
                    <span class="slider round"></span>
                </label>
            </a>
            <hr>
        </nav>

    </aside>
    <main>
        <section id="data-generator-d" class="content-section">
            <div>
                <h1>Data Generator APIs <a id="dginfo" class="info-btn fa fa-info" (click)="ShowDetails($event)"></a></h1>
            </div>
            <app-generate-data-set></app-generate-data-set>
            <!-- <button class="main-btn" (click)="GenerateData()">Generate Data</button>
            <button class="main-btn" (click)="Reset()">Reset</button> -->
        </section>

        <section id="charts-d" class="content-section">
            <div>
                <h1>Charts <a id="chartsinfo" class="info-btn fa fa-info" (click)="ShowDetails($event)"></a></h1>
            </div>
            <app-plotting-scene></app-plotting-scene>
        </section>
        
        <section id="statistics-d" class="content-section">
            <h1>Statistics <a id="statisticsinfo" class="info-btn fa fa-info" (click)="ShowDetails($event)"></a></h1>

        </section>

                
        <section id="saved-datasets-d" class="content-section">
            <h1>Saved Simulated Datasets <a id="saveddatasetsinfo" class="info-btn fa fa-info" (click)="ShowDetails($event)"></a></h1>
            <app-saved-datasets></app-saved-datasets>
        </section>
    </main>
</div>


