<div class="xds-tool-box">
      <ul class="nav flex-column ">
        <li class="nav-item" id="xds-tool-box-item">
          <a class="nav-link" (click)="WelcomeIsClicked()" >Welcome</a>
        </li>
        <li class="nav-item" id="xds-tool-box-item">
          <a class="nav-link " (click)="SignInUpIsClicked()" >Sign in/up</a>
        </li>
        <li class="nav-item" id="xds-tool-box-item">
          <a class="nav-link" (click)="UploadIsClicked()" >Upload</a>
        </li>
        <li class="nav-item" id="xds-tool-box-item">
          <a class="nav-link" (click)="DownloadIsClicked()" >Download</a>
        </li>
        <li class="nav-item" id="xds-tool-box-item">
          <a class="nav-link" (click)="AnalyzeIsClicked()" >Analyze</a>
        </li>
        <li class="nav-item" id="xds-tool-box-item">
          <a class="nav-link" (click)="KnowHowIsClicked()" >Know how</a>
        </li>
      </ul>
  </div>

