<html lang="en">
    <head>
        <title>HH</title>
        <meta charset="utf-8">
    </head>
<body>
    <app-xds-headerbar ></app-xds-headerbar>
    <div class="col-md-16">
        <div class="col-md-1">
            <app-xds-tool-box></app-xds-tool-box>
        </div>
        <div class="col-md-10">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-md-1">
        
        </div>

    </div>
    <br> 
    <app-xds-footer></app-xds-footer>
</body>
</html>