<div class="grid">
    <article>
        <ngx-charts-advanced-pie-chart 
        [view]="[400,200]"
        [results]="datasets"
        [gradient]="false" 
        label="Datasets">
        </ngx-charts-advanced-pie-chart>

        <ngx-charts-advanced-pie-chart 
        [view]="[400,200]"
        [results]="publications"
        [gradient]="false" 
        scheme = "aqua"
        label="Publications">
        </ngx-charts-advanced-pie-chart>
    </article>
    <article>asdasd</article>
    <article>asd</article>
    <article>asd</article>
    <article>ads</article>
    <article>ewqr</article>
    <article>asdasd</article>
</div>