
<div>
    <!-- <app-xds-info-main-box id="row1"></app-xds-info-main-box> -->
    <h1>
        Login to your account to enjoy all features.
    </h1>

        <a href="\login" class="btn btn-primary">Go to Login page</a>

</div>
<div>
    <!-- <app-xds-info-main-box id="row1"></app-xds-info-main-box> -->
    <h1>
        If you dont have an account, you can sign up.
    </h1>

        <a href="\signup" class="btn btn-primary">Go to sign up page</a>
</div>


<div style="margin-top: 30px;">
    <!-- <app-xds-news-highlights id="row2"></app-xds-news-highlights> -->
</div>
