
    
    <div class="xds-container-signature-style container">
        <div class="box" id="one"> 
            <img src="../../../assets/Images/xds.PNG">
        </div>
        <div class="box" id="two"> 
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Search</span>
              </div>
              <input type="text" class="form-control" style="min-height: 45px;" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="box" id="three"> Space 3</div>
        <div class="box" id="four"> Space 4</div>
    </div>


